.container{
  width: 40%;
  margin: 10px auto 0 auto;
  text-align: center;
}

.container p {
  text-align: center;
}

.mat-list-item-text {
  padding: 0 0 0 15px;
  font-size: 15px;
}

.title{
  width: fit-content;
  font-family: 'Open Sans', sans-serif;
  margin: 0 auto 0 auto;
}

.strikethrough {
  text-decoration: line-through;
}

.mat-list-item i {
  position: absolute;
  cursor: pointer;
  right: 15px;
}
