<div class="body">
  <form #f='ngForm' class="currency-form">
    <mat-form-field class="field">
      <input type="text" placeholder="Currency I Have" aria-label="Number" matInput [formControl]="formControl" [matAutocomplete]="auto">
      <mat-autocomplete #auto="matAutocomplete" (optionSelected)="setCurrencyFrom($event)">
          <mat-option *ngFor="let currency of filteredCurrencies | async" [value]="currency.code">
            {{currency.code}}
          </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <mat-form-field class="field">
      <input type="text" placeholder="Currency I Want" aria-label="Number" matInput [formControl]="formControl" [matAutocomplete]="curr">
      <mat-autocomplete #curr="matAutocomplete" (optionSelected)="setCurrencyTo($event)">
          <mat-option *ngFor="let currency of filteredCurrencies | async" [value]="currency.code">
            {{currency.code}}
          </mat-option>
      </mat-autocomplete>
    </mat-form-field>

  <mat-form-field class="form-field">
    <input matInput type="number" step='0.01' min="0" placeholder="Amount" (ngModelChange)="getCalculatedData($event)" [(ngModel)]="amount" name="amount">
  </mat-form-field>

  <p>You'll get {{convertedValue}} {{currencyTo}}</p>

</form>
</div>

<div class="body table">
  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
  </mat-form-field>

  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <ng-container matColumnDef="currencyCode">
      <th mat-header-cell *matHeaderCellDef> Currency </th>
      <td mat-cell *matCellDef="let item"> {{item.code}} PLN </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef class="currencyName"> Name</th>
      <td mat-cell *matCellDef="let item" class="currencyName"> {{item.currency}} </td>
    </ng-container>

    <ng-container matColumnDef="midRate">
      <th mat-header-cell *matHeaderCellDef> Mid Rate </th>
      <td mat-cell *matCellDef="let item"> {{item.mid}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

</div>
