.main {
  text-align: center;
  margin-top: 50px;
}

.main mat-form-field {
  margin-left: 10px;
  text-align: center;
}

.buttons {
  margin-top: 15px;
}

.buttons button {
  margin-left: 10px;
  height: 36px;
  font-size: 12px;
  padding-bottom: 6px;
}

.main p {
  color: green;
}

.main span {
  color: darkred;
  font-family: "Open Sans", sans-serif;
}
